@import "../../../scss/abstracts/variables";

.categories{
    background: $white;
    border-radius: 5px;

    ul{
        padding: 0;
        margin: 0;

        li>button{

            &.active{
                border-bottom: 1.5px solid $red_color;
                background-color: lighten($grey1,5);
            }

            justify-content: center;
            color: inherit;
            text-decoration: none;
            padding: 4px;
            display: flex;
            font-size: 15px;
            width: 100%;
            border: none;
            border-bottom: 1.5px solid $grey2;
            cursor: pointer;

            &:hover{
                background-color: darken($grey1,10);
            }

        }
    }
}