@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

:host{
    flex: 1;
}

h3::before {
    content: '*';
    color: red;

}

h4::before {
    content: '*';
    color: red;

}

.mainContent{
    padding: 15px;
    background-color: white;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    @include input();       
}

.question{
    border: 2px solid $red_color;
    padding: 10px;
    margin:10px 0;
    position: relative;

    #deleteQuestion{
        position: absolute;
        right: 10px;
        top:0;
    }

    .form-control{
        margin:10px 0;
    }
    label{
        font-weight: bold;

        &::before{
            content: '*';
            color: red;
        }
    }
}

form>button[type='button'],.question>button,.answer-options>button{
    border: 2px solid $grey1;
    background-color: $red_color;
    padding: 5px;
    border-radius:8px;
    margin-top: 10px;
    cursor: pointer; 
    color: white;
}

button[type='submit']{
    border: 2px solid $grey1;
    background-color: $tag-color;
    padding: 5px;
    border-radius:8px;
    margin-top: 10px;
    cursor: pointer; 
    color: white;
}

#deleteOption{
    cursor: pointer;
}

.answer-variant{
    display: flex;
}

.answer-options{
    border: 2px solid $red_color;
    padding: 10px;
    border-top: none;
    display: flex;
    flex-direction: column;
}

.check-box{
    display: flex;
    width: 20%;
    align-items: center;
    padding: 10px ;
}

