.mainContent
 form('[formGroup]'='form' '(submit)'='onSubmit()')
  h3 Quiz name
  app-text-input(placeholder='Type here...' 'formControlName'='name')
  h4 Connected workshop
  .selet()
   select('formControlName'='posts')
    option('*ngFor'='let post of posts$ | async' '[ngValue]'="post.id") {{ post.title }}
  .questions('formArrayName'='questions')
   .question('*ngFor'='let question of form.controls.questions["controls"];let i = index' '[formGroupName]'='i' '[class.invalid]'='this.questionsForms.controls[i].invalid')
    button#deleteQuestion('(click)'='deleteQuestion(i)')
     i.icon-cross
    .form-control
     label Question
     app-text-input(placeholder='Type here...' 'formControlName'='question')
    .form-control
     label Question Type
     select('formControlName'='questionType')
      option([ngValue]="'input'") {{ 'Short answer' }}
      option([ngValue]="'select'") {{ 'Choice' }}
    .form-control('*ngIf'="this.questionsForms.controls[i].get('questionType').value === 'input'")
     label Correct Answer
     input(type='number' placeholder='Type here...' 'formControlName'='correctAnswer')
    //-  app-text-input(placeholder='Type here...' 'formControlName'='correctAnswer')
    .form-control.answer-options('*ngIf'="this.questionsForms.controls[i].get('questionType').value === 'select'")
     label Answer variants
     .answer-variant('*ngFor'='let variant of question.controls.answerVariants["controls"]; let j = index')
      .check-box
       app-checkbox('[formControl]'='variant.controls["isCorrect"]')
      app-text-input(placeholder='Type here...' '[formControl]'='variant.controls["answer"]')
      button#deleteOption('(click)'='deleteVariant(i,j)')
       i.icon-cross
     button('type'='button' '(click)'="addAnswer(i)") Add answer 
  button('type'='button' '(click)'="addQuestion()") Add question
  button('type'='submit' '[disabled]'="form.invalid") Submit
 