@import "../../../scss/abstracts/variables";

@include mq($until: mobile) {
    .side-menu {
        position: absolute;
        height: 100vh;
        width: 100vw;
        left:-100%;
        transition:0.5s;
        &.menu-active {
            left: 0;
    }
    }

}
@include mq($from: mobile, $until: tablet) {
    .side-menu {
        width: 45px;
    }
}
@include mq($from: tablet) {
    .side-menu {
        width: 80px;
     }
}

.side-menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #bfc6ca;
    background:rgba(0, 0, 0, 0.3);
    height: 93vh;
}


