div(class="side-menu",[class.menu-active]="menuActive")
 div(class="backdrop",*ngIf="menuActive",(click)="hideMenu($event)")
 ul
  li(*ngFor="let item of menuItems")
   a
    i([class]='item.icon')
    span {{ item.label }}



