div(class="side-menu",[class.menu-active]="menu_active",(click)="hide_menu($event)")
  ul
   - for (var i = 0; i < 3; ++i) {
     li
      i(class=`{{ menu_items[${i}].icon }}`) 
      span {{ menu_items[#{i}].title }}
   - }
