@import "../../../scss/abstracts/variables";

@include mq($until: mobile) {

    .side-menu {
        position: absolute;
        height: 100vh;
        width: 100vw;
        left:-100%;
        transition:0.5s;

        .backdrop{
            position: absolute;
            height: 93vh;
            width: 100vw;
            background:rgba(0, 0, 0, 0.3); 
        }
        
        &.menu-active {
            left: 0;
    }

    ul{
        position: absolute;
        width: 80%;
        height: 93vh;
        background-color: #42494d;
        transition: 0.5s;
    }
    }

    a{
        
        width: fit-content;
        cursor: pointer;
        &.active{
           width: 100%;
        }

        span{
        font-size: 15px;
        }
    
    }

}
@include mq($from: mobile, $until: tablet) {

    .side-menu {
        width: 45px;
        flex-direction: column;
    }

    a {
        height: 40px;
        text-align: center;
        flex-direction: column;
        justify-content: center;

        span {
            display: none;
        }

    }
}

@include mq($from: tablet) {

    .side-menu {
        width: 80px;
        flex-direction: column;
     }

     a {
        text-align: center;
        flex-direction: column;
        height: 70px;
        width: 100%;
}
}

.side-menu {
    margin: 0;
    display: flex;
    color: #bfc6ca;
    height: 93vh;
}

ul {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #42494d;
}

a {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: inherit;
    text-decoration: none;

    &.active{
        background: darken($grey2,30);
        color: $red_color;
    }

    &:not(.active):hover {
        color: white;
    }

    span {
        padding: 0 7px;
        font-size:13px;
    }

    i {
        padding: 5px;
        font-size: 30px;
    }
}