@import "../../../scss/abstracts/variables.scss";
@import "../../../scss/abstracts/mixins.scss";


.quizCard__header{
    display: flex;
    justify-content: space-between;

    .quizName{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

i{
    color: red;
    cursor: pointer;
}

}
.quizCard{
    background-color: $tag-color2;
    color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;

    .card-footer{
        margin: 15px 0 5px 0;
        font-size: 15px;
        display: flex;
        justify-content: space-between;

        span{
            font-weight: bold;
            color: black;
        }

    }
}

.deleteQuiz {
}