.quizCard('*ngIf'='quiz')
 .quizCard__header
  .quizName
   span('(click)' = 'navigateTo()') {{quiz.name}}
  button.deleteQuiz('*ngIf'='isEditable' '(click)'='deleteQuiz($event)')
   i.icon-bin  
 .card-footer
  .date
   i.icon-calendar
   app-timestamp([date]="quiz.createdAt", [format]="'fullDate'") 
  .author
   span {{author$ | async}}
   i.icon-user
