app-viewport
 .workshop('*ngIf'='workshop$ | async as workshop')
  .title
   h3 {{workshop.title}}
  .content-area
   img(src='{{workshop.image}}')
   .fulltext('[innerHTML]'='workshop.text' '*appCollapsable'='100 button button1 turnedOn true animationOn true defState "expanded"') 
   ng-template('#button1'='' let-control='control' let-title='title')
    button.btnCollapse('(click)'='control()') {{title}}
  .workshop-footer
   .tags-likes
    .tags-list('*ngIf'='tagsList.length')
     span('*ngFor'="let tag of tagsList") {{tag.tagTitle}} 
    .reactions('*ngIf'='reactionsCounts')
     .dislikes
      span {{reactionsCounts.uni}} 
      button('appHoverGrow' '(click)'="dislikeClick($event)")
       i.icon-dislike('[class.active]'='dislikeActive')
     .stars
      span {{reactionsCounts.stars}} 
      button('appHoverGrow' '(click)'="starClick($event)")
       i('[ngClass]'="starActive ? 'icon-star-full' : 'icon-star-empty'")
     .likes
      span {{reactionsCounts.likes}} 
      app-like('[likeActive]'="likeActive" '(likeClicked)'="likeClick()")  
   .date 
    i.icon-calendar
    app-timestamp([date]="workshop.createdAt",[format]="'short'") 
 app-auxiliary-content([auxContActive]="acaActive",(acaClick)="acaHandler()") 
  .tabGroup 
   app-tab-group
    app-tab('[title]'="'Сomments'" '[link]'='"comments"') 
    app-tab([title]="'Quizzes'" '[link]'='"quizzes"')

