@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins.scss";

.btnCollapse{
    padding: 3px;
    border:none;
    color: $tag-color;
    cursor: pointer;
    font-size: 15px;
}
   .workshop{
    flex-direction: column;
    height: fit-content;
    background: $white;
    padding-bottom: 20px;

    @include mq($from: tablet) {
        margin:15px 20% 15px 20%;
    }

    @include mq($until: tablet) {
    margin:5% 0;

    .date{
        font-size: 13px;
    }
    
    }  
   }

   .title{
    padding:10px 10px 0 20px;
   }

   .content-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
    word-break: break-all;
    flex:1;
    background: white;
    .fulltext{
        display: flex;
        flex-direction: column;
    }
   }


   .likes{
    display: flex;

    span{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 7px;
    }
}

.tags-list{
    @include tagsList();
}

img{

    @include mq($until: tablet) {
        width: 90%;
     }

   @include mq($from: tablet) {
        width: 60%;
    }
    
    margin: 2% 5%;
}
   
    .workshop-footer{
       display: flex;
       flex-direction: column;
       padding:0 20px;
       background: $white; 

       .tags-likes{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
       }

       .date{
           display: flex;
           align-items: center;
           margin-top: 15px;
           i{
               margin-right: 15px;
           }
       }
    }


   :host{
       flex: 1; 
       display: flex;
   }

   .reactions{
    display: flex;

    &>*{
        display: flex;
        align-items: center;

        button{
            margin-left: 10px;
            font-size: 30px;
            cursor: pointer;
        }
    }
    .stars{
        margin: 0 10px;
        button>i{
                color: $avatar-background;
            }
        }
    
    .dislikes>button>i{

        color: black;

        &.active{
            color:$red_color;
        }

    }
    }