.workshop-page
 .workshop
  .title
   h3 {{workshop.title}}
  .content-area
   img(src='{{workshop.img}}')
   p {{workshop.fulltext}}
  .workshop-footer
   .tags-likes
    .tags-list
     span(*ngFor="let tag of workshop.tagsList") {{tag}} 
    .likes
     span {{workshop.likes}} 
     app-like([likeActive]="likeactive",(likeClicked)="likec()")  
   .date published at
    app-timestamp([date]="workshop.creationDate",[format]="'short'") 
   .comments
    .comment(*ngFor="let comment of workshop.comments")
     app-comment-card([comment]="comment")
    app-comment-form  