app-viewport
 .workshop('*ngIf'='workshop')
  .title
   h3 {{workshop.title}}
  .content-area
   img(src='{{workshop.image}}')
   .fulltext('*appCollapsable'='100 button button1 turnedOn true animationOn true defState "expanded"') {{workshop.text}}
   ng-template('#button1'='' let-control='control' let-title='title')
    button.btnCollapse('(click)'='control()') {{title}}
  .workshop-footer
   .tags-likes
    .tags-list
     span('*ngFor'="let tag of tagsList") {{tag}} 
    .likes
     span {{workshop.likes}} 
     app-like('[likeActive]'="likeActive" '(likeClicked)'="likec()")  
   .date published at
    app-timestamp([date]="workshop.createdAt",[format]="'short'") 
 app-auxiliary-content([auxContActive]="acaActive",(acaClick)="acaHandler()") 
  .tabGroup 
   app-tab-group
    app-tab('[title]'="'Сomments'" '[link]'='"comments"') 
    app-tab('[title]'="'Resources'" '[link]'='"resources"') 
    app-tab([title]="'Quizzes'" '[link]'='"quizzes"')

