@include mq($until: mobile) {
    .side-menu {
        position: absolute;
        height: 100vh;
        & > * {
            overflow: hidden;
        }
        width: 0;
        & > ul > li {
            width: min-content;
        }
        &.menu-active {
            width: 80vw;
        }
    }
}
@include mq($from: mobile, $until: tablet) {
    .side-menu {
        width: 45px;
    }
    .side-menu > ul > li {
        height: 40px;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        span {
            display: none;
        }
    }
}
@include mq($from: tablet) {
    .side-menu {
        width: 80px;
        & > ul > li {
            text-align: center;
            flex-direction: column;
            height: 70px;
        }
    }
}

.side-menu {
    background-color: #42494d;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #bfc6ca;
    transition: 0.5s;
    z-index: 99;
    height: 93vh;
    ul {
        padding: 0;
        margin: 0;
        li {
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
                color: white;
            }
            i {
                padding: 5px;
                font-size: 30px;
            }
            span {
                padding: 0 7px 0 7px;
                font-size: 15px;
            }
        }
    }
}
