app-viewport
 .mainContent
  .quizCard('*ngFor'='let quiz of quizS.allQuizzes')
   .quizName
    a(routerLink="../{{quiz.id}}" )
     span {{quiz.quizName}}
   .card-footer
    app-timestamp([date]="quiz.date",[format]="'fullDate'") 
    span {{quiz.author}}
    button('(click)'='deleteQuiz(quiz)')
     i.icon-cross
 app-auxiliary-content([auxContActive]="acaActive",(acaClick)="acaHandler()") 
  h2 Create your own quiz!    
