app-viewport
 .mainContent
  app-quiz-card('*ngFor'='let quiz of quizzes$ | async' '[quiz]'='quiz')
 app-auxiliary-content([auxContActive]="acaActive",(acaClick)="acaHandler()") 
  h3 Create your own quiz!    
