div.main-content 
 .card
  h3 Article header
  img(src="/assets/images/Jeff.png", alt="kkk")
  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim cupiditate molestiae deleniti debitis atque amet vitae ipsam quis asperiores, harum ad dolor earum minima? Eaque minus harum impedit a iure.
 .card
  h3 Article header
  img(src="/assets/images/Jeff.png", alt="kkk")
  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim cupiditate molestiae deleniti debitis atque amet vitae ipsam quis asperiores, harum ad dolor earum minima? Eaque minus harum impedit a iure.
 .card
  h3 Article header
  img(src="/assets/images/Jeff.png", alt="kkk")
  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim cupiditate molestiae deleniti debitis atque amet vitae ipsam quis asperiores, harum ad dolor earum minima? Eaque minus harum impedit a iure.  