.signUpForm
 h2 Sign Up
 form('[formGroup]'="signUpForm" )
  .form-group
   label(for="firstName") Name
   input(type="text" formControlName="firstName" class="form-control")
  .form-group
   label(for="lastName") Lastname
   input(type="text" formControlName="lastName" class="form-control")  
  .form-group
   label(for="username") Username
   input(type="text" formControlName="username" class="form-control")
  .form-group
   label(for="password") Password
   input(type="password" formControlName="password" class="form-control") 
  .form-group
   button('(click)'="onSubmit($event)" '[disabled]'='signUpForm.invalid') Sign Up
