.auxilContent([class.active]="auxContActive")
 button#open-aca((click)="aca_handler($event)")
  i([ngClass]="!auxContActive ? 'icon-circle-left' : 'icon-circle-right' ")
 router-outlet(name="'aside'")

   
