.auxilContent([class.active]="auxContActive")
 button#open-aca((click)="acaHandler($event)")
  i([ngClass]="!auxContActive ? 'icon-circle-left' : 'icon-circle-right' ")
 ng-content
 .content
  router-outlet(name="aside") 

   
