@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

:host{
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;


    input{
        border-bottom: 2px solid $grey1;
        margin: 5px 0;
        padding: 8px;
        &:focus{
            border-bottom: 2px solid $red_color;
        }
    }

    button{
        @include authButton();
    }
        
}

.loginForm{
    background: white;

    h2{
        text-align: center;
    }
}

form{
    padding: 20px;
}

.toReg{
    border:none;
    cursor: pointer;
    font-size: 18px;
    text-decoration: underline green;
}