input(
    '#input'=''
    '[type]'='type'
    '[id]'='inputId'
    '[maxLength]'='maxLength'
    '[placeholder]'='placeHolder'
    '[(ngModel)]'='value'
    '(ngModelChange)'='onChange(value)'
    required
)
