@import "../../../scss/abstracts/variables.scss";

.card{

    @include mq($until: mobile) {
        margin: 10px auto;
    }
    
    @include mq($from: tablet) {
        margin: 3vh 20vw;
    }

    @include mq($from: mobile,$until:tablet) {
        margin:3vh 16vw;
    }

    height: auto;
    background: white;
    
    .card-content{
        display: flex;
    }

    .card-header,.card-footer{
        padding:10px 10px 0 20px;
        margin-top:0 ;
    }

}
