@import "../../../scss/abstracts/variables.scss";

.card{
    @include mq($from: tablet) {
        margin: 3% 19%;
    }

    @include mq($until: tablet) {
        margin:5%;
    }
    
    height: auto;
    background: white;
    
    .card-content,.card-footer{
        display: flex;
    }

    .card-header{
        padding:10px 10px 0 20px;
        margin-top:0 ;
    }

}
