@import "../../../scss/abstracts/variables";

:host{
    display: flex;
    flex:1;
    position: absolute;

    @include mq($from:mobile, $until:tablet){
        width: calc(100% - #{$side-menu-w-tablet});
        left:$side-menu-w-tablet;
    }

    @include mq($from:tablet){
        width: calc(100% - #{$side-menu-w-laptop});
        left:$side-menu-w-laptop;
    }

    @include mq($until:mobile){
        width: 100%;
        left:0;
    }
    
}
   
   .mainContent{ 
    display: flex;
    flex:1;
    flex-direction: column;
    background: $grey1;
    align-items: center;
    height: 93vh;
    padding:0 5vw;
    transition: 0.5s;
    overflow-y: scroll;
    scrollbar-color: $red_color #f1f1f1;
    scrollbar-width: thin;
   }