@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

select{
    @include input();       
}

option{
    max-width: 100%;
    overflow: hidden;
    white-space: normal;
}

