@import "../../../scss/abstracts/variables";

button {
    height:10vh;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid $red_color;
    outline: none;
    color:$red_color;
    background: $grey1;
    display: none;
    position: absolute;
    bottom: 20px;
    cursor: pointer;

    @include mq($until: mobile) {
     left: 10px;
     padding: 7px;
    }

    @include mq($from: mobile) {
      left:13vw;
      padding: 10px;
    }


    &.active{
      display: block;
    }
    

  }