.confirm-popup__container(
    '[@confirmPopup]' = 'animationState'
    '(@confirmPopup.start)' = 'onAnimationStart($event)'
    '(@confirmPopup.done)' = 'onAnimationDone($event)'
)
 .confirm-popup__close-button('(click)' = 'onCancel()')
  i.icon-cross
 .confirm-popup__title {{data?.title}}
 .confirm-popup__message {{data?.message}}
 .confirm-popup__controls
  button.button.lin('*ngIf'='data?.cancelButton' '(click)'='onCancel()')
   span {{data?.cancelButton}}
  button.button.filled('*ngIf'='data?.confirmationButton' '(click)'='onConfirm()')
   span {{data?.confirmationButton}} 
   