.commentCard
 .header
  button.user
   app-user-pic('[name]'="comment.authorName" '[lastname]'="comment.authorLastname" '[imgSrc]'="comment.authorImg")
   span {{comment.authorName}} {{comment.authorLastname}}
 .main-content
  p {{comment.commentText}}
 .commentFooter
  .time    
   app-timestamp('[date]'="comment.date" '[format]'="'short'") 
  .edit-delete
   button Edit
   button Delete 
  .likes 
   span {{comment.likes}}
   app-like('[likeActive]'="likeActive" '(likeClicked)'="likeClick()") 

