.commentCard('*ngIf'="!editing && author | async as author")
 .header
  button.user
   .userPic
    app-user-pic( '[name]'="author.firstName" '[lastname]'="author.lastName" '[imgSrc]'="author.picture")
   span {{author.firstName}} {{author.lastName}}
 .main-content
  p {{comment.text}}
 .commentFooter
  .time    
   app-timestamp('[date]'="comment.createdAt" '[format]'="'short'") 
  .edit-delete
   button('*ngIf'="isEditable" '(click)'="editComment($event)") Edit
   button('*ngIf'="isEditable" '(click)'="deleteComment($event)") Delete 
  .likes 
  //-  span 
  //-  app-like('[likeActive]'="likeActive" '(likeClicked)'="likeClick()") 
app-comment-form('*ngIf'="editing" '[value]'="comment.text" '(commentCreated)'="updateComment($event)")   

