@mixin header_icons() {
    .menu-label {
        display: none;
    }

    #logo {
        display: flex;
        justify-content: center;
    }

    .search-box > a > i {
        font-size: 30px;
    }

    .profile {
        min-width: 100px;
    }
}

@mixin tagsList() {
    display: flex;
    flex-wrap: wrap;
    span{
        background: $grey1;
        border-radius: 7px;
        margin: 5px;
        padding: 5px;
    }
}
