@mixin header_icons() {
    .menu-label {
        display: none;
    }

    #logo {
        display: flex;
        justify-content: center;
    }

    .search-box > a > i {
        font-size: 30px;
    }

    .profile {
        min-width: 100px;
    }
}

@mixin input() {
    border-bottom: 2px solid $grey1;
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 8px 0;
    &:focus{
        outline: none;
        border-bottom: 2px solid $red_color;
    }
}

@mixin tagsList() {
    display: flex;
    flex-wrap: wrap;
    span{
        background: $grey1;
        border-radius: 7px;
        margin: 5px;
        padding: 5px;
        font-size: 15px;
        &.active{
            background-color: $tag-color;
        }
    }
}
