app-top-pane([menuActive]="menu_active",[profile]="profile",(menuClick)="handleMenuClick()")
.wrapper
 app-side-menu([menuActive]="menu_active", (menuClick)="handleMenuClick()")
 router-outlet 

  
  
  
  

