@import "../../../scss/abstracts/variables";

.tag-box{
    padding: 5px;
    margin:5px;
    background-color:lighten($grey1,5);
    color:black;
    border-radius: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;

    &.tag-active{
        background-color: $grey2;
    }

}