@import "../../../scss/abstracts/variables";

.tag-box{
    padding: 5px;
    margin:5px;
    background-color:lighten($grey1,5);
    color:black;
    border-radius: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;

    &:hover{
        background-color: lighten($tag-color,15);
    }

    &.tag-active{
        background-color: lighten($red_color,15);
        
        &:hover{
            background-color: $red_color;
        }
    }
}