@import "../../../scss/abstracts/variables";

.tag-box{
    padding: 5px;
    margin:5px;
    color:$white;
    border-radius: 5px;
    font-size: 17px;
    border: none;
    cursor: pointer;

    &.active{
        border: 2px solid $red_color;
    }

}