@import "../../../scss/abstracts/variables";
.user-circle {
    border-radius: 50%;
    border: 2px solid $red_color;
    width: 30px;
    height: 30px;
    display: flex;
   
    img,span{
        border-radius: 50%;
        text-align: center;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    span{
        // background: $avatar-background;
        color:$white;
        font-size:18px;
    }
}