.workshops((scroll)="onScroll($event)")
 #topel
 app-article(*ngFor="let workshop of workshops",[workshop]="workshop",(scrollTop)="scrollTop()")
 .to-top
  app-to-top-button(*ngIf="scrollTop>topPosToStartShowing",(click)="scroll()")
app-tag-cloud  

 
