app-viewport
 .articles('*ngIf' = 'workshops$ | async as workshops')
  app-article('*ngFor'="let workshop of workshops" '[allTags]'="tags$ | async" '[workshop]'="workshop" '(scrollTop)'="scrollTop()") 
  .noArticlesMsg('*ngIf' = '!workshops.length') Currently there are no articles in this category
 .tagCloud
  app-tag-cloud('[tagsList]'="tags$ | async")  
 .categories 
  app-categories('[categories]'="categories")
 .topPanel
  button('(click)'='goCreateWs()') Create Workshop 


 
