.workshops('(scroll)'="onScroll($event)" '#scrolEl'='')
 app-article(*ngFor="let workshop of workshops",[workshop]="workshop",(scrollTop)="scrollTop()")
 .to-top
  app-to-top-button('[scrollElement]' = 'scrolEl')
app-tag-cloud('[tagsList]'="tagsList")  
app-categories('[categories]'="categories")

 
