app-viewport
 app-article('*ngFor'="let workshop of workshops$ | async" '[allTags]'="tags$ | async" '[workshop]'="workshop" '(scrollTop)'="scrollTop()")
 app-tag-cloud('[tagsList]'="tags$ | async")  
 app-categories('[categories]'="categories")


 
