@import "../../../scss/abstracts/variables";
   

    .getPosts{
        cursor: pointer;
        margin-bottom: 20px;
    }

    .articles{
        margin-top: 34px;
    }
    

   :host{
       flex: 1; 
       display: flex;
       position: relative;
   }

   .topPanel{
       position: absolute;
       width: 100%;
       background-color: $red_color;
       height: 40px;
       display: flex;
       justify-content: flex-end;
       align-items: center;

       button{
           padding: 5px 30px;
           border-radius: 5px;
           background: $tag-color;
           color: white;
           margin-right: 15px;
           cursor: pointer;

       }
   }

   .to-top{
    @include mq($until: mobile) {
        margin-left: 95%;
    }
    @include mq($from: mobile) {
        margin-left: 100%;
    }
    position:sticky;
    bottom: 20px;
   }

   .noArticlesMsg {
    margin-top: 20vh;
    font-size: 16px;
    font-weight: bold;
   }

   .tagCloud{
    position: absolute;
    top:55px;
    width: 15vw;
    @include mq($from:mobile){
        right: 4vw;
    }

    @include mq($until:mobile){
        display:none;
    }
   }

   .categories{
       position: absolute;
       top:55px;
       left:2vw;


    @include mq($from:tablet){
        width: 20vw;
    }

    @include mq($until:mobile){
        display:none;
    }
   }