app-viewport
 app-article(*ngFor="let workshop of workshops",[workshop]="workshop",(scrollTop)="scrollTop()")
 app-tag-cloud('[tagsList]'="tagsList")  
 app-categories('[categories]'="categories")

 
