app-viewport
 app-article('*ngFor'="let workshop of workshops" '[allTags]'="serverTags" '[workshop]'="workshop" '(scrollTop)'="scrollTop()")
 app-tag-cloud('[tagsList]'="serverTags")  
 app-categories('[categories]'="categories")


 
