@import "../../../scss/abstracts/variables";
   

    .getPosts{
        cursor: pointer;
        margin-bottom: 20px;
    }

    .articles{
        margin-top: 34px;
    }
    

   :host{
       flex: 1; 
       display: flex;
       position: relative;
   }

   .topPanel{
       position: absolute;
       width: 100%;
       background-color: darken($grey2,30);
       height: 40px;
       display: flex;
       justify-content: flex-end;
       align-items: center;

       button{
           padding: 5px 30px;
           border-radius: 5px;
           
           border: 2px solid $avatar-background;
           color: $avatar-background;
           background: lighten(black,30);
           margin-right: 15px;
           cursor: pointer;

           &:hover{
               background: $avatar-background;
               color: white;
           }

       }
   }

   .to-top{
    @include mq($until: mobile) {
        margin-left: 95%;
    }
    @include mq($from: mobile) {
        margin-left: 100%;
    }
    position:sticky;
    bottom: 20px;
   }

   .noArticlesMsg {
    margin-top: 20vh;
    font-size: 16px;
    font-weight: bold;
   }

   .tagCloud{
    position: absolute;
    top:55px;
    height: 70vh;
    overflow: auto;
    width: 17vw;
    @include mq($from:mobile){
        right: 2vw;
    }

    @include mq($until:mobile){
        display:none;
    }
   }

   .categories{
       position: absolute;
       top:55px;
       left:2vw;


    @include mq($from:tablet){
        width: 20vw;
    }

    @include mq($until:mobile){
        display:none;
    }
   }

   .navigationButtons{
       display: flex;
       justify-content: center;

       button{
           padding: 5px 20px;
           margin: 0 5px 20px 5px;
           background: $tag-color;
           cursor: pointer;
           color: white;
           display: flex;
           align-items: center;
           border-radius: 5px;

           span{
               margin: 0 10px;
           }

           i{
               font-size: 25px;
           }
       }
   }