@import "../../../scss/abstracts/variables";
   
   .workshops{ 
    display: flex;
    flex-direction: column;
    background: $grey1;
    align-items: center;
    height: 93vh;
    padding: 0 5%;
    transition: 0.5s;
    overflow-y: scroll;
    scrollbar-color: $red_color #f1f1f1;
    scrollbar-width: thin;
   }

   :host{
       flex: 1; 
       display: flex;
   }