.workshops((scroll)="onScroll($event)")
 #topel
 app-article(*ngFor="let article of articles",[article]="article",(scrollTop)="scrollTop()")
 .to-top
  app-to-top-button(*ngIf="scrollTop>topPosToStartShowing",(click)="scroll()")
app-auxiliary-content([auxContActive]="acaActive",(acaClick)="acaHandler()")
 
