@import "../../../scss/abstracts/variables";

:host{
    display: flex;
    flex-direction: column;
}
.tabs {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: lighten(black, 50);
    padding: 0;

    li{
        flex: 1;
        display: flex;
        justify-content: center;
    }
}

.tabItem {

    &.active{
        border-bottom: 2px solid $red_color;
    }

    &:hover {
        background-color: darken($grey1,40);
    }
}

.tabButton {
    border: none;
    cursor: pointer;
    height: 36px;
    padding: 0 6px;
    transition: all 0.4s;
    flex: 1;
    &.active{

    }
  

}