@import "../../../scss/abstracts/variables";

@include mq($until: mobile) {
    ul{
            width: 100%;
            height: 100vh;
            background-color: #42494d;
            transition: 0.5s;
        }
        :host{
            width: 80%;
            position: absolute;
        }
    }

ul {
        padding: 0;
        margin: 0;
        height: stretch;
        background-color: #42494d;

}