.loginForm
 h2 Login
 form('[formGroup]'="loginForm" )
  .form-group
   label(for="username") Username
   input(type="text" formControlName="username" class="form-control")
  .form-group
   label(for="password") Password
   input(type="text" formControlName="password" class="form-control") 
  .form-group
   button('(click)'="onSubmit()") Log in
