header
  div(id="logo",*ngIf="!search_active")
    a(href="#")
     img(src="{{ logoSrc }}")
  button(class="menu-label",*ngIf="!searchActive",(click)="menu_handler($event)")
    i([ngClass]="!menuActive ? 'icon-menu' : 'icon-cross'")  
  .search-box
    button(id="search_btn",(click)="handleSearchClick($event)")
     i([ngClass]="!searchActive ? 'icon-search' : 'icon-cross'")
    input(type="text", id="search-bar", *ngIf="searchActive", placeholder="Search..") 
  a(class="profile",*ngIf="!searchActive")
    span {{ profile.name }} {{ profile.lastname }}
    app-user-pic([imgSrc]="profile.imgSrc",[name]="profile.name",[lastname]="profile.lastname")
