header
  div('id'="logo" '*ngIf'="!searchActive")
    a(href="#")
     img(src="{{ logoSrc }}")
  button('class'="menu-label" '*ngIf'="!searchActive" '(click)'="menuHandler($event)")
    i('[ngClass]'="!menuActive ? 'icon-menu' : 'icon-cross'")  
  .search-box
    button('id'="search_btn" '(click)'="handleSearchClick($event)")
     i([ngClass]="!searchActive ? 'icon-search' : 'icon-cross'")
    input('type'="text"  'id'="search-bar" '*ngIf'="searchActive" #searchInput='' 'placeholder'="Search.." '(blur)'="handleSearchClick($event)") 
  button#profileBtn(*ngIf="userService.user") 
   a.profile('*ngIf'="!searchActive")
     span('*ngIf'="userService.user.firstName") {{ userService.user.firstName }} {{ userService.user.lastName }}
     .userProfile
      app-user-pic('[imgSrc]'="userService.user.picture" '[name]'="userService.user.firstName" '[lastname]'="userService.user.lastName" )
