form{
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.form-footer{
    display: flex;
    justify-content: flex-end;
    
    button{
        padding: 5px;
        border-radius: 10px;
        background-color: green;
        margin:5px 0;
        color:white;
        cursor: pointer;
    }
}

.comment-field{
    display: flex;
    margin:5px 0;
    align-items: flex-start;

}

#commentInput{
    outline: none;
    margin: 3px;
    border-radius: 16px;
    border:2px solid grey;
    padding:10px;
    word-break: break-all;
    flex: 1;
}