form.comment-form([formGroup]="CommentForm")
 .name-field
  label.name Your name
  input(type="text",id="nameInput", formControlName="name", placeholder="Your Name")
 .comment-field
  label.comment Leave your comment
  textarea(rows="4",id="commentInput", formControlName="name", placeholder="Enter your comment") 
 .form-footer
  button(type="submit") Submit