@import "../../../scss/abstracts/variables.scss";
form{
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-footer{
    display: flex;
    justify-content: flex-end;
    
    button{
        padding: 5px;
        border-radius: 5px;
        margin-top: 10px;
        background-color: $tag-color;
        color:white;
        cursor: pointer;
    }
}

.comment-field{
    display: flex;
    align-items: flex-start;

}

#commentInput{
    outline: none;
    border-radius: 16px;
    border:2px solid grey;
    padding:10px;
    word-break: break-all;
    flex: 1;
}

i{
    position: absolute;
    color: $red_color;
    right: 6px;
    top: 6px;
    cursor: pointer;
}