form.comment-form([formGroup]="CommentForm")
 .comment-field
  app-user-pic([name]="user.name",[lastname]="user.lastname",[imgSrc]="user.imgSrc")
  textarea(rows="2",id="commentInput", formControlName="comment", placeholder="Enter your comment") 
 .form-footer
  button(type="submit") Submit