form.comment-form([formGroup]="CommentForm")
 .comment-field
  textarea('rows'="2" 'id'="commentInput" 'formControlName'="commentText"  'placeholder'="Enter your comment") 
 .form-footer
  button('type'="submit" '(click)'="createComment($event)") Submit