form.comment-form([formGroup]="CommentForm")
 .comment-field
  app-user-pic('[name]'="user.name" '[lastname]'="user.lastname" '[imgSrc]'="user.imgSrc")
  textarea('rows'="2" 'id'="commentInput" 'formControlName'="commentText" 'placeholder'="Enter your comment") 
 .form-footer
  button('type'="submit" '(click)'="createComment($event)") Submit