@import "../../../scss/abstracts/variables.scss";
@import "../../../scss/abstracts/mixins.scss";

:host{
    margin-bottom: 20px;
}

.title>a{
    outline: none;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img{
    @include mq($from: tablet) {
        max-height: 350px;
    }

    width: 100%;
    
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    padding: 0 20px 0 20px;

    p>a{
        padding-left: 7px;
        cursor: pointer;
        color: blue;
    }
}

.tags-list{
    @include tagsList();
}

.article-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:8px; 
}

.likes{
    display: flex;

    span{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 7px;
    }
}