app-card
 .title
  h3 {{article.title}}
 .content
  img(src='{{article.img}}')
  p {{article.shortDesc}}
   a(routerLink="../{{article.id}}" ) Read more
 .footer
  .article-footer
   .tags-list
    app-tag(*ngFor="let tag of article.tagsList",[tagTitle]="tag")
   .likes
    span Likes:{{article.likes}} 
    app-like([likeActive]="likeactive",(likeClicked)="likec()")  
  app-timestamp([date]="article.creationDate") 
     

