app-card
 .title
  a(routerLink="../{{workshop.id}}" )
   h3 {{workshop.title}}
 .content
  a(routerLink="../{{workshop.id}}" )
   img(src='{{workshop.image}}')
  p {{workshop.description}}
   a(routerLink="../{{workshop.id}}" ) Read more
 .footer
  .article-footer
   .tags-list('*ngIf'='allTags')
    span('*ngFor'="let tag of tagsList"  appQueryParamsActive [tag]="tag") {{tag.tagTitle}}
   .reactions
    .dislikes
     span {{workshop.reactionsCounts.uni}} 
     button('appHoverGrow' '(click)'="dislikeClick()")
      i.icon-dislike('[class.active]'='dislikeActive')
    .stars
     span {{workshop.reactionsCounts.stars}} 
     button('appHoverGrow' '(click)'="starClick()")
      i('[ngClass]'="starActive ? 'icon-star-full' : 'icon-star-empty'")
    .likes
     span {{workshop.reactionsCounts.likes}} 
     app-like('[likeActive]'="likeActive" '(likeClicked)'="likeClick()")
  .date_icons    
   .date
    i.icon-calendar
    app-timestamp([date]="workshop.createdAt",[format]="'fullDate'")
   .icons('*ngIf'='isEditable')
    i( '(click)'='goEdit()').icon-pencil2 
    i('(click)'='deletePost()').icon-bin

     

