app-card
 .title
  h3 {{workshop.title}}
 .content
  img(src='{{workshop.img}}')
  p {{workshop.shortDesc}}
   a(routerLink="../{{workshop.id}}" ) Read more
 .footer
  .article-footer
   .tags-list
    app-tag(*ngFor="let tag of workshop.tagsList",[tagTitle]="tag")
   .likes
    span {{workshop.likes}} 
    app-like([likeActive]="likeactive",(likeClicked)="likec()")  
  app-timestamp([date]="workshop.creationDate",[format]="'fullDate'") 
     

